/*Anchor tag Pseudo-classes*/

a:link { /* unvisited link */
    color: #FF0000;
  }
  
  a:visited { /* visited link */
    color: #aaad00;
  }
  
  a:hover {       /* mouse over link */
    color: #FF00FF;
  }
  
  a:active {      /* selected link */
    background-color: #5900ff;
  }

 /*Div tag Pseudo-class*/
  div:hover {
    background-color: rgb(171, 171, 250);
  }

  /*--------------------------------------------------------------------------------*/
            /*PSEUDO CLASSES: */
            p:first-child {     /* p= selector : first-child= pseudo class */
                color: rgb(196, 0, 130);
            }
            p:last-child {
                color: rgb(0, 171, 201);
            }
            p:first-letter{
                font-size: 30px;
            }
            p:first-line{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: blue;
            }
/*--------------------------------------------------------------------------------*/
            ul {
                list-style-type: none;
                list-style-type: circle;    /*this line overrides the previous line, bcz same attribute*/
            }
    
            ol>ul { /*unordered list under ordered list*/
                list-style-type: square;
            }
/*--------------------------------------------------------------------------------*/
            
        /*Attribute Selector*/
            a[target] {
                background-color: rgb(255, 255, 255);
            }

        /*Attribute Value Selector*/
            a[target="_blank"] {
                background-color: rgb(0, 0, 0);
            }
                    /*-------------------------------*/
                    [title ~= flower]{background-color: rgb(116, 0, 110); }       /*one of many */
                    [lang |= en]{background-color: rgb(116, 0, 110); }            /**/
                    a[href ^= "https"]{background-color: rgb(83, 145, 216); }       /*begins with */
                    a[href $= ".html"]{background-color: rgb(116, 0, 110); opacity: 50%; }        /*ends with */
                    a[href *= "saloni"]{background-color: rgb(190, 130, 187); }   /*contains the substring*/
                    /*-------------------------------*/

        /*[class] attribute value selector contains a class-name instead of a tag: .bold {}*/
            /*-------------------------------
                [class=bold]{ } or .bold{}      class attribute value selector
            ------------------------------*/
            .div5 { background-color: red; }
                /*OR*/
            [class~=div6]{ background-color: rgb(8, 255, 222);  }


/*--------------------------------------------------------------------------------*/
            /*id selector*/
            #third {
                background-color: #1f001f;
            }
            
/*--------------------------------------------------------------------------------*/
